*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-black {
    background: black;
  }
  .text-black {
    color: #222222;
  }
  .text-white {
    color: white;
  }
  .text-red {
    color: #ec2232;
  }
  .text-grey{
    color: #9198A0;
  }
  .text-fam {
    font-family: "ITC Avant Garde Gothic Std";
  }
  .fw1 {
    font-weight: 700;
  }
  .fw2 {
    font-weight: 500;
  }
  .fw3 {
    font-weight: 600;
  }
  .fw4{
      font-weight: 300;
  }
  .fw5{
    font-weight: 900;
  }
  .fs1 {
    font-style: normal;
  }
  .f-medium {
    font-size: 16px;
  }
  .f-mediuml{
    font-size: 18px;
  }
  .f-mediumxl{
    font-size: 25px;
  }
  .f-vslarge{
    font-size: 30px;
  }
  .f-small {
    font-size: 13px;
  }

  .f-large {
    font-size: 35px;
  }
  .f-sxlarge{
    font-size: 3.75rem;
  }
  .f-xlarge{
      font-size: 70px;
  }
  .f-xxlarge {
    font-size: 90px;
  }
  .letter-spacing{
    letter-spacing: -0.02em;
  }